.horizon{
  width: 0%;
  height: 1px;
  background-color: #000000;
  margin-top: 70px;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation-name: the_horizont; /* Chrome, Safari, Opera */
   -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
   animation-name: the_horizon;
   animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes the_horizon {
    from {width: 0%;}
    to {width: 100%;}
}

/* Standard syntax */
@keyframes the_horizon {
    from {width: 0%;}
    to {width: 100%;}
}

#pir_ln1{
position: absolute;
width: 1px;
background-color: #000000;
height: 50px;
ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
transform: rotate(45deg);
animation-name: the_piramid;
-webkit-animation-name: the_piramidI; /* Chrome, Safari, Opera */
 -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
 animation-name: the_piramidI;
 animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
 animation-fill-mode: forwards;
}


#pir_ln2{
position: absolute;
width: 1px;
background-color: #000000;
ms-transform: rotate(135deg); /* IE 9 */
-webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
transform: rotate(135deg);
animation-name: the_piramid;
-webkit-animation-name: the_piramidII; /* Chrome, Safari, Opera */
 -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
 animation-name: the_piramidII;
 animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
 animation-fill-mode: forwards;
}

@keyframes the_piramidI {
      from {
        height: 0px;
        margin-left: 22.1%;
        margin-top:-2.9%;
      }
      to {
        height: 50px;
        margin-left: 21%;
        margin-top:-2.7%
      }
}

@keyframes the_piramidII {
    from {
      height: 0px;
      margin-left: 22.1%;
      margin-top: -2.8%;
    }
    to {
      height: 50px;
      margin-left: 23.2%;
      margin-top:-2.7%
    }
}

#pir_ln3{
width: 1px;
background-color: #000000;
height: 50px;
ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
transform: rotate(45deg);
animation-name: the_piramid;
-webkit-animation-name: the_piramidIII; /* Chrome, Safari, Opera */
 -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
 animation-name: the_piramidIII;
 animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
 animation-fill-mode: forwards;
}


#pir_ln4{
height: 40px;
width: 1px;
background-color: #000000;
ms-transform: rotate(135deg); /* IE 9 */
-webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
transform: rotate(135deg);
animation-name: the_piramid;
-webkit-animation-name: the_piramidIV; /* Chrome, Safari, Opera */
 -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
 animation-name: the_piramidIV;
 animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
 animation-fill-mode: forwards;
}

@keyframes the_piramidIII {
      from {
        height: 0px;
        margin-left: 19%;
        margin-top:-1.8%;
      }
      to {
        height: 30px;
        margin-left: 18.2%;
        margin-top:-1.6%
      }
}

@keyframes the_piramidIV {
    from {
      height: 0px;
      margin-left: 20%;
      margin-top: 1%;
    }
    to {
      height: 30px;
      margin-left: 19.5%;
      margin-top:-1.9%;
    }
}

#palm{
  position: absolute;
  margin-left: 29%;
  margin-top: -8.4%;
  display: none;
}
#sun{
  display: none;
  position: absolute;
  margin-left: 75%;
  margin-top: -17%;
}
#shadow{
  margin-top: -28px;
  margin-left: -13%;
  display: none;
}
